* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  display: flex;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Sol;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-weight: 200;
  line-height: 1.6;
  color: #1a1a1d;
  background-color: #1a1a1d;
  background-size: cover;
  min-height: calc(100vh - 2 * 4vw);
  width: 100%;
}

.container {
  width: 100%;
  margin: 1vw auto;
  background-color: #1a1a1d;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 20rem minmax(100rem, auto);
  grid-template-columns: 1.1fr 2fr;
  grid-template-areas: 'head head head' 'list recipe shopping';
  grid-gap: 20px;
}

@media only screen and (max-width: 68.75em) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.loader {
  margin: 5rem auto;
  text-align: center;
}
.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: tomato;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: grid;
  grid-area: head;
  background-color: #1a1a1d;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__logo {
  margin-left: 4rem;
  display: inline;
  background: transparent;
  position: relative;
  backface-visibility: hidden;
  border-radius: 50%;
}

.athlete,
.athlete__name {
  display: inline;
  margin-left: 4rem;
  color: white;
  font-size: 2rem;
}

.results {
  padding-top: 2rem;
}
.results__obj {
  width: 50rem;
}
.results__list {
  background-color: #1a1a1d;
  padding-left: 1.5rem;
}
.results__link:link {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border: 1px solid #1a1a1d;
  text-decoration: none;
}
.results__link:hover {
  background-color: #1a1a1d;
  border-color: #fc6100;
  transform: translateY(-2px);
}
.results__link--active {
  background-color: #1a1a1d;
  border-color: #1a1a1d;
}
.results__link--highlight {
  border-color: tomato;
}
.results__fig {
  flex: 0 0 5.5rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.5rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}
.results__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.results__name {
  font-size: 1.6rem;
  color: #f2f2f2;
  font-weight: 100;
  margin-bottom: 0.3rem;
}
.results__km {
  font-size: 1.3rem;
  color: #d2d2d2;
  font-weight: 600;
}
.results__pages {
  margin-top: 3rem;
  padding: 0 3rem;
}

.activityContainer {
  padding-top: 2rem;
}

.activity {
  display: grid;
  background-color: #1a1a1d;
  border: 1px dashed #fff;
  margin-left: 2rem;
  width: 55%;
  position: fixed;
  top: 250px;
}
.activity__details {
  display: grid;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #1a1a1d;
  color: #fff;
}
.activity__info-title {
  color: tomato;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.activity__info-text {
  color: #fff;
  padding: 0.5rem;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.activity__headlines {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-size: 1.5rem;
  align-items: center;
}
.activity__headline {
  display: inline-grid;
  grid-template-rows: 40% 60%;
  padding: 1rem;
  margin: 0.5rem;
}

.mapboxgl-map {
  display: inline-grid;
  padding: 2rem;
  width: 100%;
  height: 30rem;
}
.selected {
  border: 1px solid;
  border-color: tomato;
}
