* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  display: flex;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-weight: 200;
  line-height: 1.6;
  color: #191919;
  background-color: #191919;
  background-size: cover;
  min-height: calc(100vh - 2 * 4vw);
  width: 100%;
}

.container {
  width: 100%;
  margin: 1vw auto;
  background-color: #191919;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  grid-template-areas: 'header results details';
  grid-gap: 20px;
}

@media only screen and (max-width: 68.75em) {
  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.loader {
  margin: 5rem auto;
  text-align: center;
}
.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: #fe6f3a;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  align-items: center;
  padding: 1rem;
  height: 95vh;
  border: 0.5px solid #fff;
}
.header__logo {
  margin: 1rem;
  background: transparent;
  position: relative;
  backface-visibility: hidden;
  border-radius: 50%;
}

.athlete,
.athlete__name {
  margin: 1rem;
  color: white;
  font-size: 2rem;
}
.vc-rounded-lg {
  border: 0px;
}
.vc-grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  color: white;
  border: 0px solid #fc6100;
}

.results__container {
  height: 95vh;
  overflow-x: scroll;
  border: 0.5px solid #fff;
}
.results__list {
  background-color: #191919;
  padding: 1rem;
}
.results__link:link {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border: 1px solid #191919;
  text-decoration: none;
}
.results__link:hover {
  background-color: #191919;
  border-color: orange;
  transform: translateY(-2px);
}
.results__link--active {
  background-color: #191919;
  border-color: #191919;
}
.selected {
  border: 1px solid;
  border-color: orange;
}
.results__link--highlight {
  border-color: orange;
}
.results__fig {
  flex: 0 0 5.5rem;
  overflow: hidden;
  height: 5.5rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}
.results__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.results__name {
  font-size: 1.6rem;
  color: #f2f2f2;
  font-weight: 100;
  margin-bottom: 0.3rem;
}
.results__km {
  font-size: 1.3rem;
  color: #d2d2d2;
  font-weight: 600;
}
.results__pages {
  margin-top: 3rem;
  padding: 0 3rem;
}

.activity__container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  border: 0.5px solid #fff;
  min-width: 40vw;
  max-width: 40vw;
}

.activity {
  display: flex;
  flex: 1;
  background-color: #191919;
}
.activity__details {
  flex: 1;
  background-color: #191919;
  color: #fff;
  align-items: center;
}
.activity__info-title {
  color: #fe6f3a;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.activity__info-text {
  color: #fff;
  padding: 0.5rem;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.activity__info-text2 {
  font-size: 1.5rem;
}
.activity__headlines {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  justify-content: space-evenly;
}
.activity__headlines_min {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin: 1rem;
}
.other__headlines {
  display: flex;
  flex: 1;
  grid-template-columns: 20% 80%;
}
.weather__headlines {
  display: grid;
  margin: 0.5rem;
}
.activity__headline {
  display: inline-grid;
  margin: 0.5rem;
}
.activity__headline2 {
  display: flex;
  flex: 1 1 0px;
  margin: 0.5rem;
  justify-content: space-evenly;
}
.bordered {
  border: 1px solid orange;
}
.weather__headline {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.2rem;
  margin: 0.5rem;
}
.weather__info-title {
  color: #fe6f3a;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.weather__info-text {
  color: #fff;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.photo__container {
  display: flex;
  flex: 1;
  margin: 1rem;
}
.activity__photo {
  display: flex;
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.activity__photo img {
  object-fit: cover;
}
.routeMap {
  display: flex;
  justify-content: center;
}
.mapboxgl-map {
  display: flex;
  flex: 1;
  padding: 2rem 2rem;
  margin: 1rem;
  height: 30rem;
  width: 97%;
}
.selected {
  border: 1px solid;
  border-color: orange;
}
